.loading-full_page {
    margin-top: 3rem;
    justify-content: center;
    display: flex;
    left: 0;
    z-index: 99;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}